<%= render 'partials/map'%>

<div class="stateinfo">
    <select onchange="window.location=this.value">
    <% @states.each do |state| %>
        <option value="states/<%= state.id %>"><%= state.name %></option>
    <% end %>
    </select>
</div>