/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* = require leaflet */

html,
body {
	display: flex;
	margin: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	flex-flow: row wrap;
	background-color: rgb(46, 42, 42);
	color: black;
}

a {
	font-size: 1vw;
	color: blue;
	padding: 20px;
}

a.currentpage {
	color: blue;
}

header {
	background-color: darkgrey;
	height: 10%;
	width: 100%;
	color: black;
	display: inline-block;
}

h1 {
	font-size: 7vh;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	padding-left: 20px;
	padding-top: 5px;
	margin: 0;
}

h2 {
	font-size: 2vw;
	padding-left: 2%;
	color: black;
}

h3 {
	font-size: 0.9vw;
	text-align: center;
	font-style: italic;
}

h5 {
	margin: 0;
	font-size: 0.9vw;
	text-align: center;
}

img.flag {
	padding-left: 20px;
}

label {
	padding-left: 20px;
	font-size: 18px;
}

p {
	font-size: 1.1vw;
	padding: 20px;
}

select {
	width: 100px;
	appearance: none;
	outline: none;
	box-shadow: none;
	border: 0;
	background: rgb(46, 42, 42);
	flex: 1;
	text-indent: 15px;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

select::-ms-expand {
	display: none;
}

textarea {
	height: 70px;
}

#mapid {
	height: 60%;
	width: 65%;
}

.flagNameDiv {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}

.selectionBox {
	margin-left: 20px;
	text-align: center;
	position: relative;
	display: flex;
	width: 80%;
	height: 2.5em;
	line-height: 3;
	background: rgb(46, 42, 42);
	overflow: hidden;
}

.selectionBox::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: rgb(46, 42, 42);
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: 0.25s all ease;
	-o-transition: 0.25 all ease;
	transition: 0.25 all ease;
}

.selectionBox:hover::after {
	color: blue;
}

.stateinfo {
	width: 35%;
	height: 60%;
	background-color: darkgrey;
	overflow: auto;
}
